@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #f393d0;
    --branco: #FFFFFF;
    --laranja: #f042b6;
    --azul-degrade: linear-gradient(97.54deg, #82f7b4 35.49%, #efe861 165.37%);
    --fonte-principal: "Poppins";
    --azul: #7c0d90;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}